name: Build

on:
  push:
    branches: [ release ]

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        app-name:
          - ShadowAI
        os:
          - macos-15-intel
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.SOURCE_REPO_PAT }}
          repository: ${{ secrets.SOURCE_REPO }}
          ref: main

      - uses: ./.github/actions/build
        id: build
        with:
          os: ${{ matrix.os }}
          app-name: ${{ matrix.app-name }}

    outputs:
      version: ${{ steps.build.outputs.version }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - uses: softprops/action-gh-release@v2
        with:
          name: Release v${{ needs.build.outputs.version }}
          tag_name: v${{ needs.build.outputs.version }}
          files: |
            artifacts/*.dmg
            artifacts/*.zip